/* YOUR CUSTOM STYLES */
@charset "UTF-8";

h1, h2, h3, h4, h5, h6 {
font-weight: 100; }

h1 {
font-size: 30px; }

h2 {
font-size: 24px; }

h3 {
font-size: 16px; }

h4 {
font-size: 14px; }

h5 {
font-size: 12px; }

h6 {
font-size: 10px; }

h3, h4, h5 {
  margin-top: 5px;
  font-weight: 600; 
}

body{
	background-color: #E9EBEE;
}

.cursor-pointer {
	cursor:pointer;
}

.cursor-default {
	cursor:default;
}

.color-forgot {
	color:#e4e2e0;
}

.no-padding-top-bottom {
	padding-top: 0px;
	padding-bottom: 0px;
}

.no-margin-top-bottom {
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar-form-custom .form-control {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    font-size: 14px;
    height: 60px;
    margin: 0;
    z-index: 2000; 
}

.form-control, .form-control:focus, .has-error .form-control:focus, .has-success .form-control:focus, .has-warning .form-control:focus, .navbar-collapse, .navbar-form, .navbar-form-custom .form-control:focus, .navbar-form-custom .form-control:hover, .open .btn.dropdown-toggle, .panel, .popover, .progress, .progress-bar {
    box-shadow: none; 
}

.form-control, .single-line {
    background-color: white;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%; 
}

.form-control:focus, .single-line:focus {
    border-color: #1ab394 !important; 
}

.has-success .form-control {
    border-color: #1ab394; 
}

.has-warning .form-control {
    border-color: #f8ac59; 
}

.has-error .form-control {
    border-color: #ed5565; 
}

.form-control.error {
    border: 1px dotted #cc5965; 
}

.form-control {
    border: none;
    border-bottom: 1px solid #d1dade; 
    margin-bottom: 20px;
}

ul.nav li:hover{ 
    background-color: #d0e0ec !important;
    color: #3da8d3 !important; 
}

a:hover {
    text-decoration: none;
}

#bg img {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.link-color{
    color: #70a9f9;
    text-decoration: underline;
}

.left-right-border-for-content {
    height: auto;
    border-left: solid 1px #dfdddb;
    border-right: solid 1px #dfdddb;
}

.pad-five{
    padding: 10px;
}
.pad-left-ft{
  padding-left: 40px;
}
.center{
    text-align: center;
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}

/* NAV TOP ADMIN PAGE */
.img-prof-navtop {
    height: 50px;
    width: 50px;
    padding:2px;
}

.pad-left-twenty {
    padding-left: 20px;
}

.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.element {
  .clearfix();
}

/*  SIDE BAR CSS */

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}

#main {
   background-color:#e9eaed;
   padding-left:0;
   padding-right:0;
}

#main .img-circle {
   margin-top:18px;
   height:70px;
   width:70px;
}

#sidebar {
    padding-right: 0px;
    padding-top:15px;
}

#sidebar, #sidebar a, #sidebar-footer a {
    color:#ffffff;
    background-color:transparent;
    text-shadow:0 0 2px #000000;
    padding-left:5px;
}
#sidebar .nav li>a:hover {
    background-color:#b2b2b2;
}

@media (max-width: 768px) {

  .column .padding {
    padding: 7px;
  }

  .full{
    padding-top:20px;
  }

  .navbar-blue {
    background-color:#3B5999;
    top:0;
    width:100%;
    position:relative;
  }

}

@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -33%;
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 5px;
  }

  #sidebar, #sidebar a, #sidebar-footer a {
    padding-left:3px;
  }
}

/* END OF SIDE BAR*/


